<ul class="nav flex-column">
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a href="{{ path('app_annonce_new') }}" class="nav-link">Créer une annonce</a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a href="{{ path('app_tag_new') }}" class="nav-link">Créer un tag</a>
        </li>
    {% endif %}
</ul>