<ul class="nav flex-column">
    <li class="nav-item">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_annonce_new') }}" class="nav-link">Créer une annonce</a>
        {% endif %}
    </li>
</ul>