{% extends "base.html.twig" %}

{% block body %}
    {{ include("_inc/nav.html.twig") }}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2">
                {{ include("_inc/sidebar-nav.html.twig") }}
            </nav>
            <div class="col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}